@font-face {
  font-family: Didact;
  src: url(../assets/fonts/DidactGothic-Regular.ttf);
}
@font-face {
  font-family: Fjalla;
  src: url(../assets/fonts/FjallaOne-Regular.ttf);
}
@font-face {
  font-family: WorkSans;
  src: url(../assets/fonts/WorkSans-VariableFont_wght.ttf);
}
html {
  height: 100%;
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: auto;
}
header {
  display: inline-blocks;
  height: auto;
  width: 100vw;
  text-align: center;
  padding-top: 10px;
}
header p {
  font-family: WorkSans;
  font-size: 1.2rem;
  margin-bottom: 60px;
}
header h1 {
  display: inline-block;
  height: auto;
  width: 46vw;
  font-family: Didact;
  font-size: 4.8rem;
  font-weight: 200;
  line-height: 9rem;
  word-spacing: 50rem;
  letter-spacing: -0.3rem;
  text-align: center;
  margin-top: 0;
  margin-left: 9vw;
  margin-right: 4vw;

  margin-bottom: 60px;
}
img {
  margin-bottom: 118px;
}
header h2 {
  font-family: WorkSans;
  font-size: 7.68rem;
  font-weight: 400;
  margin-bottom: 118px;
}
main {
  height: 100%;
  margin: 0;
  background-image: #222;
}
.section1,
.section2,
.section3,
.section4 {
  height: 1400px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.section1 {
  background-image: url(../assets/img/portfolio2.png);
  min-height: 100%;
}
.section2 {
  background-image: url(../assets/img/portfolio3.png);
  min-height: 100%;
}
.section3 {
  background-image: url(../assets/img/portfolio4.png);
  min-height: 100%;
}
.section4 {
  background-image: url(../assets/img/portfolio5.png);
  min-height: 100%;
}
.text1,
.text3 {
  padding-top: 200px;
  padding-left: 220px;
  padding-right: 220px;
}

.text2,
.text4 {
  padding-top: 250px;
  padding-left: 220px;
}
img {
  margin-bottom: 20px;
}
.t1h1 {
  font-family: Didact;
  font-size: 18rem;
  color: #ffffff;
  height: 150px;
  font-weight: 400;
  margin-bottom: 100px;
}
.t1p {
  font-family: WorkSans;
  color: #9e9e9e;
  font-size: 3rem;
  margin-bottom: 120px;
}
.section1 .text1 .buttonwhite:hover {
  background-color: white;
  color: black;
}
.section1 .text1 .buttonwhite:hover + p {
  color: white;
}
.section1 .text1 .buttonwhite {
  text-decoration: none;
  font-family: Fjalla;
  border: #9e9e9e solid;
  color: #ffffff;
  padding: 2vh 3vw;
  font-size: 2rem;
}
.zahl1 {
  font-family: Fjalla;
  color: #9e9e9e34;
  font-size: 30rem;
  margin-left: 60vw;
}
.section3 .text3 .buttonwhite:hover {
  background-color: white;
  color: black;
}
.section3 .text3 .buttonwhite:hover + p {
  color: white;
}
.section3 .text3 .buttonwhite {
  text-decoration: none;
  font-family: Fjalla;
  border: #9e9e9e solid;
  color: #ffffff;
  padding: 2vh 3vw;
  font-size: 2rem;
}
.t2h1 {
  font-family: Didact;
  font-size: 18rem;
  color: #000000;
  height: 150px;
  font-weight: 400;
  margin-bottom: 100px;
}
.t2p {
  font-family: WorkSans;
  color: #666666;
  font-size: 3rem;
  margin-bottom: 120px;
}
.section2 .text2 .buttondark:hover {
  background-color: black;
  color: white;
}
.section2 .text2 .buttondark:hover + p {
  color: black;
}
.section2 .text2 .buttondark {
  text-decoration: none;
  font-family: Fjalla;
  border: #9e9e9e solid;
  color: #9e9e9e;
  padding: 2vh 3vw;
  font-size: 2rem;
}
.zahl2 {
  font-family: Fjalla;
  color: #66666691;
  font-size: 30rem;
  margin-left: 60vw;
}
.section4 .text4 .buttondark:hover {
  background-color: black;
  color: white;
}
.section4 .text4 .buttondark:hover + p {
  color: black;
}
.section4 .text4 .buttondark {
  text-decoration: none;
  font-family: Fjalla;
  border: #9e9e9e solid;
  color: #9e9e9e;
  padding: 2vh 3vw;
  font-size: 2rem;
}
section {
  height: auto;
  background-color: #000000;
  color: white;
  padding-top: 10vh;
  padding-bottom: 20vh;
  text-align: center;
}
h3 {
  font-family: WorkSans;
  font-size: 20rem;
  font-weight: 400;
  letter-spacing: -2.5rem;
  margin-top: 20px;
  margin-bottom: 140px;
}
article {
  display: inline-block;
  margin-left: 30vw;
  margin-bottom: 50px;
  width: 48vw;
  height: auto;
  font-family: WorkSans;
  font-size: 1.5rem;
  color: #666666;
  letter-spacing: 1rem;
  word-spacing: 1rem;
  line-height: 2.5rem;
  text-align: left;
}
.email {
  display: inline-block;
  margin-left: 6vw;
  font-family: WorkSans;
  font-size: 7rem;
  letter-spacing: -1rem;
  margin-bottom: 15px;
}
